{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "SSTrader API"
  },
  "servers": [
    {
      "url": "https://api.sstrader.com/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/regions": {
      "get": {
        "description": "Returns a list of regions, countries, and leagues.",
        "responses": {
          "200": {
            "description": "A list of regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "region": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "alpha3": {
                                "type": "string",
                                "description": "ISO Alpha-3 country code"
                              }
                            }
                          },
                          "league": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "level": {
                                "type": "integer",
                                "description": "League level (1 = top tier, 2 = second tier, etc.)"
                              }
                            }
                          },
                          "sport": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "count": {
                            "type": "integer",
                            "description": "Number of upcoming fixtures in this league."
                          },
                          "live": {
                            "type": "integer",
                            "description": "Number of live fixtures in this league."
                          },
                          "popular": {
                            "type": "boolean",
                            "description": "Whether this league is marked as popular."
                          },
                          "level": {
                            "type": "integer",
                            "description": "League level (1 = top tier, 2 = second tier, etc.)"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "regions"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "all"
              ],
              "default": "upcoming"
            },
            "description": "Filter leagues by their status (optional). Possible values: 'upcoming' — leagues with upcoming fixtures; 'all' — leagues that are covered by us. If omitted, all leagues are returned."
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es",
                "bg"
              ],
              "default": "en"
            },
            "description": "Language for the response (default: English)"
          }
        ],
        "operationId": "get_regions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "{\n  \"regions\": [\n    {\n      \"region\": {\n        \"id\": 6,\n        \"name\": \"International\"\n      },\n      \"country\": {\n        \"id\": 244,\n        \"name\": \"Africa\",\n        \"alpha3\": \"\" \n      },\n      \"league\": {\n        \"id\": 381,\n        \"name\": \"CAF Champions League\",\n        \"level\": 1\n      },\n      \"sport\": {\n        \"id\": 1,\n        \"name\": \"Football\"\n      },\n      \"count\": 8,\n      \"live\": 0,\n      \"popular\": false,\n      \"level\": 3\n    }\n  ]\n}",
              "language": "json",
              "name": ""
            }
          ],
          "samples-languages": [
            "json"
          ]
        }
      }
    },
    "/fixtures": {
      "get": {
        "description": "Returns a list of fixtures with participants, scores and periods.",
        "responses": {
          "200": {
            "description": "A list of fixtures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fixtures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "is_live": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "sport": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "alpha3": {
                                "type": "string",
                                "description": "ISO Alpha-3 country code"
                              }
                            }
                          },
                          "league": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "level": {
                                "type": "integer"
                              }
                            }
                          },
                          "season": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "participants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "integer"
                                },
                                "location": {
                                  "type": "string",
                                  "description": "home or away"
                                }
                              }
                            }
                          },
                          "scores": {
                            "type": "array",
                            "description": "Array of score objects (may be empty).",
                            "items": {
                              "type": "object"
                            }
                          },
                          "periods": {
                            "type": "array",
                            "description": "Array of period objects (may be empty).",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "fixtures"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "league_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated league ids to filter fixtures by."
          },
          {
            "in": "query",
            "name": "fixture_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fixture ids to filter by."
          },
          {
            "in": "query",
            "name": "is_live",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter only live fixtures when true."
          }
        ],
        "operationId": "get_fixtures",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "{\n  \"fixtures\": [\n    {\n      \"id\": 123,\n      \"date_time\": \"2024-10-25T19:45:00.000Z\",\n      \"status\": \"INPLAY_1ST_HALF\",\n      \"is_live\": true,\n      \"language\": \"en\",\n      \"sport\": {\n        \"id\": 1,\n        \"name\": \"Football\"\n      },\n      \"country\": {\n        \"id\": 42,\n        \"name\": \"England\",\n        \"alpha3\": \"GBR\"\n      },\n      \"league\": {\n        \"id\": 8,\n        \"name\": \"Premier League\",\n        \"level\": 1\n      },\n      \"season\": {\n        \"id\": 21024,\n        \"name\": \"2024/2025\"\n      },\n      \"participants\": [\n        {\n          \"id\": 1,\n          \"name\": \"Manchester United\",\n          \"position\": 5,\n          \"location\": \"home\"\n        },\n        {\n          \"id\": 2,\n          \"name\": \"Liverpool\",\n          \"position\": 2,\n          \"location\": \"away\"\n        }\n      ],\n      \"scores\": [],\n      \"periods\": []\n    }\n  ]\n}",
              "language": "json",
              "name": ""
            }
          ]
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}