{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "SSTrader API"
  },
  "servers": [
    {
      "url": "https://api.sstrader.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Fixtures",
      "description": "Operations related to match fixtures"
    },
    {
      "name": "Regions",
      "description": "Geographic regions data"
    }
  ],
  "paths": {
    "/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Get all regions, countries and leagues",
        "description": "Returns a list of regions, countries, and leagues.",
        "operationId": "getRegions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "all"
              ],
              "default": "upcoming"
            },
            "description": "Filter leagues by their status."
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es",
                "bg"
              ],
              "default": "en"
            },
            "description": "Language for the response."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fixtures": {
      "get": {
        "tags": [
          "Fixtures"
        ],
        "summary": "Get fixtures with participants, scores and periods",
        "description": "Returns a list of fixtures with participants, scores and periods.",
        "operationId": "getFixtures",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sport_id",
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the sport. Defaults to 1."
          },
          {
            "in": "query",
            "name": "league_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of league IDs."
          },
          {
            "in": "query",
            "name": "fixture_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of specific fixture IDs."
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "description": "Date in ISO 8601 YYYY-MM-DD format."
          },
          {
            "in": "query",
            "name": "is_live",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1
            },
            "description": "Set to 1 to filter for currently active matches."
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string"
            },
            "description": "Localization code (default: en)."
          },
          {
            "in": "query",
            "name": "include",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "odds",
                  "statistics",
                  "metrics",
                  "fair_odds",
                  "movement",
                  "seasons"
                ]
              }
            },
            "description": "Comma-separated list of modules to include.  Example: `include=odds,metrics`.  Note: Using an include unlocks the corresponding `filter[entity]` parameter.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of fixtures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixturesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RegionsResponse": {
        "type": "object",
        "required": [
          "regions"
        ],
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionItem"
            }
          }
        }
      },
      "RegionItem": {
        "type": "object",
        "properties": {
          "region": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "league": {
            "$ref": "#/components/schemas/League"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "count": {
            "type": "integer",
            "description": "Upcoming fixtures count"
          },
          "live": {
            "type": "integer",
            "description": "Live fixtures count"
          },
          "popular": {
            "type": "boolean"
          },
          "level": {
            "type": "integer",
            "description": "League level"
          }
        }
      },
      "FixturesResponse": {
        "type": "object",
        "required": [
          "fixtures"
        ],
        "properties": {
          "fixtures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fixture"
            }
          }
        }
      },
      "Fixture": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "league": {
            "$ref": "#/components/schemas/League"
          },
          "season": {
            "$ref": "#/components/schemas/Season"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          },
          "scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Score"
            }
          },
          "periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          },
          "odds": {
            "description": "Included when `include=odds` is passed.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OddObject"
            }
          }
        }
      },
      "Sport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "alpha3": {
            "type": "string"
          }
        }
      },
      "League": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          }
        }
      },
      "Season": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Participant": {
        "type": "object",
        "description": "Details about a specific team or competitor involved in the match.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the participant."
          },
          "name": {
            "type": "string",
            "description": "Localized name of the team or competitor."
          },
          "position": {
            "type": "integer",
            "description": "The team's current standing/rank in their respective league table."
          },
          "location": {
            "type": "string",
            "enum": [
              "home",
              "away"
            ],
            "description": "Indicates the venue role. `home` for the hosting team and `away` for the visiting team."
          }
        }
      },
      "Score": {
        "type": "object",
        "additionalProperties": true
      },
      "Period": {
        "type": "object",
        "additionalProperties": true
      },
      "OddObject": {
        "type": "object",
        "description": "Core entity for pricing, settlement, and market data.  Note: Use `filter[odds]` in the query to refine this list.\n",
        "example": {
          "odd_id": 72919503,
          "fixture_id": 946305,
          "market_id": 203,
          "bookmaker_id": 2,
          "is_live": 0,
          "label_id": 2,
          "value": 2.1,
          "handicap": 3.5,
          "line": 3.5,
          "last_update": 1768081284,
          "suspend": 1,
          "sp": 1.8,
          "home_score": 0,
          "away_score": 0,
          "status": -1,
          "raw": {},
          "player_id": null,
          "outcome": "Lost",
          "market_description": "Total number of cards in the match",
          "market_name": "Asian Total Cards",
          "label_name": "Over 3.5"
        },
        "properties": {
          "odd_id": {
            "type": "integer",
            "description": "Unique identifier for this specific odd record."
          },
          "fixture_id": {
            "type": "integer",
            "description": "Identifier of the match (fixture) this odd belongs to."
          },
          "market_id": {
            "type": "integer",
            "description": "The category of the bet (e.g., 1 for Match Winner, 22 for Next Goal)."
          },
          "bookmaker_id": {
            "type": "integer",
            "description": "The ID of the bookmaker providing this price."
          },
          "label_id": {
            "type": "integer",
            "description": "Internal identifier for the specific selection type within a market."
          },
          "player_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier for a player. Populated for performance markets (e.g., Shots, Goalscorer)."
          },
          "value": {
            "type": "number",
            "format": "float",
            "description": "The current decimal odds (price)."
          },
          "line": {
            "type": "number",
            "format": "float",
            "description": "The numerical threshold for the bet (e.g., 2.5 in an Over/Under market)."
          },
          "handicap": {
            "type": "number",
            "format": "float",
            "description": "The point spread or goal handicap (if applicable)."
          },
          "sp": {
            "type": "number",
            "format": "float",
            "description": "Starting Price. The opening odds recorded for the event."
          },
          "suspend": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean flag. If 1, the odd is currently locked and not tradable."
          },
          "is_live": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 for live/in-play events; 0 for pre-match."
          },
          "home_score": {
            "type": "integer",
            "description": "Home team score at generation. Used as 'base score' for Asian markets."
          },
          "away_score": {
            "type": "integer",
            "description": "Away team score at generation. Used as 'base score' for Asian markets."
          },
          "last_update": {
            "type": "integer",
            "description": "Unix timestamp of the last modification."
          },
          "status": {
            "type": "integer",
            "enum": [
              2,
              1,
              0,
              -1,
              -2,
              -3
            ],
            "description": "Numerical result code: - **2**: Half Won - **1**: Won - **0**: Pending - **-1**: Lost - **-2**: Half Lost - **-3**: Void\n"
          },
          "outcome": {
            "type": "string",
            "description": "Localized name of the status (e.g., 'Won', 'Half Lost')."
          },
          "market_name": {
            "type": "string",
            "description": "Localized name of the betting market."
          },
          "market_description": {
            "type": "string",
            "description": "Brief localized explanation of the market rules."
          },
          "label_name": {
            "type": "string",
            "description": "Human-readable name of the specific pick (e.g., 'Over 3.5')."
          },
          "raw": {
            "type": "object",
            "description": "Container for external provider data. Use these IDs for betslip injection  or deep-linking to bookmaker platforms.\n",
            "example": {
              "event_id": 13936816,
              "market_id": 1339290698,
              "selection_id": 3314639099
            }
          }
        }
      }
    }
  }
}