openapi: 3.0.0
info:
  version: 1.0.0
  title: SSTrader API
servers:
  - url: https://api.sstrader.com/v1
tags:
  - name: Livescores
    description: >-
      A specialized endpoint for retrieving live fixtures with real-time
      updates, optimized for in-play betting and match tracking.
  - name: Fixtures
    description: Operations related to match fixtures
  - name: Regions
    description: Geographic regions data
  - name: Countries
    description: Country reference data
  - name: Insights
    description: AI-driven match insights and recommended bets
  - name: Types
    description: Domain-specific data types and metrics
  - name: Search
    description: >-
      Free-text lookup across entity types, tolerant of misspellings and
      abbreviations.
  - name: Standings
    description: League table standings for a given season.
  - name: Bet Builders
    description: >-
      AI-selected bet builder suggestions — multiple selections from the same
      match combined into a single bet, with a natural-language explanation for
      the combination.
paths:
  /regions:
    get:
      tags:
        - Regions
      summary: Get all regions, countries and leagues
      description: Returns a list of regions, countries, and leagues.
      operationId: getRegions
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - upcoming
              - all
            default: upcoming
          description: Filter leagues by their status.
        - in: query
          name: language
          schema:
            type: string
            enum:
              - en
              - es
              - bg
            default: en
          description: Language for the response.
        - in: query
          name: league_level
          schema:
            type: string
          description: >-
            Comma-separated list to filter by league tier. Use 1 for top-flight,
            2 for second division, etc. Default is all levels.
        - in: query
          name: country_id
          schema:
            type: string
          description: >-
            Comma-separated list of country IDs to filter leagues by specific
            nations. Default is all countries.
      responses:
        '200':
          description: A list of regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
  /countries:
    get:
      tags:
        - Countries
      summary: Get all countries
      description: Returns a list of all countries.
      operationId: getCountries
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: language
          schema:
            type: string
            enum:
              - en
              - es
              - bg
            default: en
          description: Language for the response.
      responses:
        '200':
          description: A list of countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
  /livescores:
    get:
      tags:
        - Livescores
      summary: Get live fixtures with real-time updates
      description: >-
        Returns a list of live fixtures with participants, scores, periods, and
        optional real-time data modules.
      operationId: getFixturesLiveScores
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: sport_id
          schema:
            type: integer
          description: The ID of the sport. Defaults to 1.
        - in: query
          name: league_id
          schema:
            type: string
          description: Comma-separated list of league IDs.
        - in: query
          name: language
          schema:
            type: string
          description: 'Localization code (default: en).'
        - in: query
          name: include
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - odds
                - statistics
                - metrics
          description: >
            Comma-separated list of modules to include.  Example:
            `include=odds,metrics`.  Note: Using an include unlocks the
            corresponding `filter[entity]` parameter.
        - name: filter[metrics]
          in: query
          schema:
            type: string
            anyOf:
              - pattern: ^types:\d+(,\d+)*$
                description: Filter by specific Type IDs (e.g., types:1,2,3)
              - pattern: ^developer_types:[a-z_]+(,[a-z_]+)*$
                description: >-
                  Filter by domain groups (e.g.,
                  developer_types:predictions,smart_money)
          example: developer_types:predictions
          description: >
            Optional filter for the included `metrics` module.  Use this to
            specify which metrics to include based on their Type IDs or domain
            groups.
        - name: filter[odds]
          in: query
          description: >
            Refine the odds data by applying specific keys.  Use a **comma (,)**
            for OR logic within a key and a **semicolon (;)** for AND logic
            between different keys.
          schema:
            type: string
            example: bookmakers:2;markets:1,3;is_live:1;suspend:0
          style: form
          explode: false
      responses:
        '200':
          description: A list of fixtures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixturesLivescoreResponse'
  /fixtures:
    get:
      tags:
        - Fixtures
      summary: Get fixtures with participants, scores and periods
      description: Returns a list of fixtures with participants, scores and periods.
      operationId: getFixtures
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: sport_id
          schema:
            type: integer
          description: The ID of the sport. Defaults to 1.
        - in: query
          name: league_id
          schema:
            type: string
          description: Comma-separated list of league IDs.
        - in: query
          name: fixture_id
          schema:
            type: string
          description: Comma-separated list of specific fixture IDs.
        - in: query
          name: season_id
          schema:
            type: integer
          description: The ID of the season to filter fixtures by.
        - in: query
          name: date
          schema:
            type: string
          description: Date in ISO 8601 YYYY-MM-DD format.
        - in: query
          name: language
          schema:
            type: string
          description: 'Localization code (default: en).'
        - in: query
          name: include
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - odds
                - statistics
                - metrics
                - player_metrics
                - fair_odds
                - movement
                - trends
                - last_fixtures
                - lineups
                - squads
                - metadata
          description: >
            Comma-separated list of modules to include. Example:
            `include=odds,metrics`. Note: Using an include unlocks the
            corresponding `filter[entity]` parameter.


            `squads` is in **beta** — its shape and coverage may still change.


            `player_metrics` must be requested together with `squads`
            (`include=squads,player_metrics`) — the metric rows identify players
            by `player_id` only, and `squads` carries their names and positions.
        - name: filter[player_metrics]
          in: query
          schema:
            type: string
            anyOf:
              - pattern: ^types:\d+(,\d+)*$
                description: Filter by specific Type IDs (e.g., types:380,383)
              - pattern: ^developer_types:[a-z_]+(,[a-z_]+)*$
                description: Filter by domain group (e.g., developer_types:player_metrics)
          example: types:380,383
          description: >
            Optional filter for the included `player_metrics` module. Use this
            to return only specific player metrics by Type ID or domain group.


            Ratings are `380`–`383` (Impact, Aggression, Discipline, SST
            Rating); expected metrics for the fixture are `384` (Expected Shots)
            and `385` (Expected Minutes). A listing view typically wants
            `types:380,383`; a player-props view wants `types:384,385`.
        - name: filter[trends]
          in: query
          schema:
            type: string
            anyOf:
              - pattern: ^developer_names:[A-Z_]+(,[A-Z_]+)*$
                description: >-
                  Filter by developer name (e.g.,
                  developer_names:GOALS,CORNERS). Takes priority over types.
              - pattern: ^types:\d+(,\d+)*$
                description: >-
                  Filter by type ID (e.g., types:117,118). Ignored when
                  developer_names is set.
          example: developer_names:GOALS,CORNERS,EXPECTED_GOALS,PRESSURE_INDEX
          description: >
            Optional filter for the included `trends` module. Use
            `developer_names` to select stats by name, or `types` to select by
            type ID. `developer_names` takes priority when both are provided.
        - name: start_date
          in: query
          description: >
            The start date in ISO 8601 format. Must be within 30 days of the
            current date and before end_date. Both start_date and end_date must
            be provided together to enable date range filtering; supplying only
            one has no effect.
          schema:
            type: string
            format: date-time
            example: '2023-10-27T10:00:00Z'
        - name: end_date
          in: query
          description: >
            The end date in ISO 8601 format. Must be after start_date. Both
            start_date and end_date must be provided together to enable date
            range filtering; supplying only one has no effect.
          schema:
            type: string
            format: date-time
            example: '2023-10-30T10:00:00Z'
        - name: filter[metrics]
          in: query
          schema:
            type: string
            anyOf:
              - pattern: ^types:\d+(,\d+)*$
                description: Filter by specific Type IDs (e.g., types:1,2,3)
              - pattern: ^developer_types:[a-z_]+(,[a-z_]+)*$
                description: >-
                  Filter by domain groups (e.g.,
                  developer_types:predictions,smart_money)
          example: developer_types:predictions
          description: >
            Optional filter for the included `metrics` module.  Use this to
            specify which metrics to include based on their Type IDs or domain
            groups.
        - name: filter[odds]
          in: query
          description: >
            Refine the odds data by applying specific keys.  Use a **comma (,)**
            for OR logic within a key and a **semicolon (;)** for AND logic
            between different keys.
          schema:
            type: string
            example: bookmakers:2;markets:1,3;is_live:1;suspend:0
          style: form
          explode: false
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perPageParam'
        - $ref: '#/components/parameters/orderParam'
      responses:
        '200':
          description: A list of fixtures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixturesResponse'
        '400':
          description: Validation Error (e.g., date range exceeded or invalid format)
  /fixtures/search:
    get:
      tags:
        - Fixtures
      summary: Search fixtures by time window and value filters
      description: >
        A powerful query endpoint for discovering fixtures that match specific
        metric or statistic thresholds. Unlike `/fixtures`, which retrieves
        fixtures by date or ID, `/search` filters by **calculated values** — for
        example, find all upcoming matches where the home team's classification
        metric falls within a given range.

        All `where[X]` filters must match simultaneously (AND logic). Results
        are paginated and the fixture structure is identical to `/fixtures`.
      operationId: searchFixtures
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: window
          schema:
            type: string
            enum:
              - live
              - '3'
              - '6'
              - '12'
              - '24'
              - '48'
              - '168'
            default: '24'
          description: >
            Defines the time scope of the search.

            - `live` — No date range applied; only the `status` filter drives
            results. Defaults to all in-play statuses. - `3`–`168` — Matches
            fixtures from **now** up to **+N hours** from now. Defaults to live
            + `NOT_STARTED` statuses.
        - in: query
          name: league_id
          schema:
            type: string
          description: Comma-separated list of league IDs to restrict the search scope.
          example: 8,34,55
        - in: query
          name: status
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ABANDONED
                - AWAITING_UPDATES
                - AWARDED
                - BREAK
                - CANCELLED
                - DELETED
                - DELAYED
                - EXTRA_TIME_BREAK
                - FT
                - FT_AET
                - FT_PEN
                - HT
                - INPLAY_1ST_HALF
                - INPLAY_2ND_HALF
                - INPLAY_ET
                - INPLAY_PENALTIES
                - INTERRUPTED
                - NOT_STARTED
                - PENDING
                - PEN_BREAK
                - POSTPONED
                - SUSPENDED
                - TBA
                - WALKOVER
          description: >
            Comma-separated list of fixture statuses to include.

            When omitted: `window=live` defaults to all in-play statuses;
            numeric windows default to in-play + `NOT_STARTED`.

            👉 **[View State
            Definitions](https://sstrader.readme.io/docs/states)**
          x-llm-hint: Full state definitions available at /docs/states
        - in: query
          name: where[DEVELOPER_NAME]
          style: form
          explode: true
          schema:
            type: string
            pattern: ^\d+:\d+(:(HOME|AWAY|LEAGUE))?$
          description: >
            Value-range filter applied to a named metric or statistic. Format:
            `min:max[:location]`.

            - `min` / `max` — Integer bounds (inclusive). - `location` — `HOME`,
            `AWAY`, or `LEAGUE` (default). Determines which team's value is
            tested.

            Replace `DEVELOPER_NAME` with a `developer_name` from the `/types`
            endpoint. Up to **10** filters may be specified; all must match (AND
            logic). Duplicate keys with different locations are supported.

            **Examples:** - `where[TEAM_GOALS_CLASSIFICATION]=1100:1800:HOME` -
            `where[HOME_AWAY_CLASSIFICATION]=1:2`
        - in: query
          name: order[DEVELOPER_NAME]
          style: form
          explode: true
          schema:
            type: string
            pattern: ^(ASC|DESC)(:(HOME|AWAY|LEAGUE))?$
          description: >
            Sort results by a named metric or statistic value. Format:
            `DIR[:location]`.

            - `DIR` — `ASC` or `DESC`. - `location` — `HOME`, `AWAY`, or
            `LEAGUE` (default).

            Replace `DEVELOPER_NAME` with a `developer_name` from the `/types`
            endpoint. Only the first `order[...]` parameter is applied. Falls
            back to `date_time ASC` when no matching value exists for a fixture.

            **Example:** `order[TEAM_GOALS_CLASSIFICATION]=DESC:HOME`
        - in: query
          name: include
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - odds
                - metrics
                - statistics
                - metadata
          description: >
            Comma-separated list of modules to attach to each fixture. Allowed
            values: `odds`, `metrics`, `statistics`, `metadata`. Note:
            `fair_odds` and `movement` are not available on this endpoint. Using
            an include unlocks the corresponding `filter[entity]` parameter.
        - name: filter[metrics]
          in: query
          schema:
            type: string
            anyOf:
              - pattern: ^types:\d+(,\d+)*$
                description: Filter by specific Type IDs (e.g., types:1,2,3)
              - pattern: ^developer_types:[a-z_]+(,[a-z_]+)*$
                description: >-
                  Filter by domain groups (e.g.,
                  developer_types:predictions,smart_money)
          example: developer_types:predictions
          description: >
            Optional filter for the included `metrics` module. Use this to
            specify which metrics to include based on their Type IDs or domain
            groups.
        - name: filter[statistics]
          in: query
          schema:
            type: string
          example: types:5,6
          description: >
            Optional filter for the included `statistics` module. Use
            `types:ID,...` to return only specific statistic types.
        - name: filter[odds]
          in: query
          description: >
            Refine the odds data by applying specific keys. Use a **comma (,)**
            for OR logic within a key and a **semicolon (;)** for AND logic
            between different keys.
          schema:
            type: string
            example: bookmakers:2,3;markets:1,3;is_live:1;suspend:0
          style: form
          explode: false
        - in: query
          name: language
          schema:
            type: string
            default: en
          description: >-
            Localization code for team, league, and country names. Alias:
            `lang`.
        - $ref: '#/components/parameters/pageParam'
        - name: per_page
          in: query
          description: Results returned per page. Maximum is 50.
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: A list of matching fixtures with pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFixturesResponse'
              examples:
                empty:
                  summary: No matching fixtures
                  value:
                    fixtures: []
                    pagination:
                      page: 1
                      per_page: 25
                      has_more: false
        '400':
          description: >
            Validation error. Possible causes: - Invalid `window` value. -
            Malformed `where[X]` filter (non-numeric or missing min/max). - More
            than 10 `where` filters provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                invalid_window:
                  value:
                    error: 'Invalid window. Valid values: live, 3, 6, 12, 24, 48, 168'
                invalid_where:
                  value:
                    error: >-
                      Invalid min/max in where filter:
                      where[TEAM_GOALS_CLASSIFICATION]
                too_many_filters:
                  value:
                    error: Maximum of 10 where filters allowed
        '403':
          description: Unauthorized — missing or insufficient permissions.
  /insights:
    get:
      tags:
        - Insights
      summary: Retrieve Match Insights
      description: >-
        Returns a list of fixtures containing AI-driven analysis and recommended
        bets.
      operationId: getInsights
      security:
        - BearerAuth: []
      parameters:
        - name: model_id
          in: query
          description: >-
            Comma-separated list of model IDs to filter insights by. Example:
            `model_id=1,2`.
          schema:
            type: string
        - name: market_id
          in: query
          description: Comma-separated list of market IDs.
          schema:
            type: string
        - name: status
          in: query
          description: >
            Filter by match status. 


            👉 **[View State
            Definitions](https://sstrader.readme.io/docs/states)**
          x-llm-hint: Full state definitions available at /docs/states
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ABANDONED
                - AWAITING_UPDATES
                - AWARDED
                - BREAK
                - CANCELLED
                - DELETED
                - DELAYED
                - EXTRA_TIME_BREAK
                - FT
                - FT_AET
                - FT_PEN
                - HT
                - INPLAY_1ST_HALF
                - INPLAY_2ND_HALF
                - INPLAY_ET
                - INPLAY_PENALTIES
                - INTERRUPTED
                - NOT_STARTED
                - PENDING
                - PEN_BREAK
                - POSTPONED
                - SUSPENDED
                - TBA
                - WALKOVER
        - name: is_live
          in: query
          description: Filter for currently active matches.
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: expired
          in: query
          description: >-
            Set to 1 to include include outdated insights (useful for backend
            sync).
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: league_id
          in: query
          description: Comma-separated list of league IDs to filter insights by.
          schema:
            type: string
        - name: fixture_id
          in: query
          description: Restrict results to a specific single fixture.
          schema:
            type: integer
        - name: language
          in: query
          description: 'Localization code (default: en).'
          schema:
            type: string
        - name: value_from
          in: query
          description: 'Minimum decimal odd value. Example: `value_from=1.5`.'
          schema:
            type: number
            format: float
            minimum: 1
            maximum: 1000
        - name: value_to
          in: query
          description: 'Maximum decimal odd value. Example: `value_to=2.5`.'
          schema:
            type: number
            format: float
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: A list of fixtures with insights.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'
  /insights/archive:
    get:
      tags:
        - Insights
      summary: Get paginated insight history
      description: >
        Returns paginated insight history for the authenticated user.

        All insight records are returned as-is — no suspend/expired filtering
        and no deduplication is applied. Insights are grouped by fixture: each
        fixture in the response contains an `insights[]` array, and one fixture
        can appear with more than one insight (e.g. processed by multiple models
        or runs).

        Pagination operates at the **insight level**: `per_page` controls the
        maximum number of insight records returned, so the number of fixtures
        per page varies.
      operationId: getInsightsArchive
      security:
        - BearerAuth: []
      parameters:
        - name: model_id
          in: query
          description: >-
            Comma-separated list of model IDs to filter by. Example:
            `model_id=1,3`.
          schema:
            type: string
        - name: language
          in: query
          description: >-
            Language code for insight content. Alias `lang` is also accepted.
            Default: `en`.
          schema:
            type: string
            default: en
        - name: time_from
          in: query
          description: >
            ISO 8601 timestamp. Return insights with `created_at >= time_from`.
            Optional and independent from `time_to`.
          schema:
            type: string
            format: date-time
            example: '2025-05-01T00:00:00Z'
        - name: time_to
          in: query
          description: >
            ISO 8601 timestamp. Return insights with `created_at <= time_to`.
            Optional and independent from `time_from`. Most useful with
            `order=desc` (returns most recent insights before the cutoff).
          schema:
            type: string
            format: date-time
            example: '2025-05-31T23:59:59Z'
        - $ref: '#/components/parameters/pageParam'
        - name: per_page
          in: query
          description: Maximum number of insight records returned per page. Maximum is 100.
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
        - name: order
          in: query
          description: Sort direction on `created_at`.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Paginated list of fixtures with their insights.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsArchiveResponse'
              examples:
                empty:
                  summary: No insights found
                  value:
                    fixtures: []
                    pagination:
                      page: 1
                      per_page: 25
                      has_more: false
                      order: desc
        '400':
          description: Validation error — `time_from` is after `time_to`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                invalid_range:
                  value:
                    error: time_from must not be after time_to
        '403':
          description: Unauthorized — missing or insufficient role.
  /bet-builders:
    get:
      tags:
        - Bet Builders
      summary: Retrieve Bet Builder suggestions
      description: >
        A bet builder combines multiple selections from the **same match** into
        one bet (e.g. Match Winner + Over 2.5 Goals for the same fixture).

        Results use the same layout as `/insights`: a list of fixtures, where
        each fixture contains a `bet_builders[]` array.

        Results only ever include active, non-suspended bet builders — there's
        no way to include suspended or expired ones yet (a dedicated
        `/bet-builders/archive` endpoint, mirroring `/insights/archive`, is
        planned). Pagination is not implemented yet — a fixed internal result
        limit is applied for now.
      operationId: getBetBuilders
      security:
        - BearerAuth: []
      parameters:
        - name: model_id
          in: query
          description: >-
            Comma-separated list of Model IDs to filter by. Example:
            `model_id=1,2,3`.
          schema:
            type: string
        - name: language
          in: query
          description: >-
            Language code for the generated content. Alias `lang` is also
            accepted. Default: `en`.
          schema:
            type: string
            default: en
        - name: fixture_id
          in: query
          description: Restrict results to a specific single fixture.
          schema:
            type: integer
        - name: league_id
          in: query
          description: Comma-separated list of League IDs.
          schema:
            type: string
        - name: is_live
          in: query
          description: >
            Use `1` to filter only for events currently in-play, `0` for events
            not yet started. Omitted by default — no filtering on match state.
          schema:
            type: integer
            enum:
              - 0
              - 1
      responses:
        '200':
          description: A list of fixtures with bet builder suggestions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetBuildersResponse'
              examples:
                empty:
                  summary: No matching bet builders
                  value:
                    fixtures: []
        '403':
          description: Unauthorized — missing or invalid authentication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                unauthorized:
                  value:
                    error: Unauthorized
  /bet-builders/{id}:
    get:
      tags:
        - Bet Builders
      summary: Get a single bet builder by ID
      description: >
        Returns a single bet builder by id, as a flat object (not nested under a
        fixture). Includes expired/suspended bet builders regardless of the
        active-only filtering that `GET /bet-builders` applies — a direct lookup
        by id always works regardless of current state.
      operationId: getBetBuilderById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: The bet builder's ID.
        - name: language
          in: query
          description: >-
            Language code for the generated content. Alias `lang` is also
            accepted. Default: `en`.
          schema:
            type: string
            default: en
      responses:
        '200':
          description: The bet builder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetBuilder'
        '400':
          description: Validation error — `id` is not a valid integer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                invalid_id:
                  value:
                    error: Invalid bet builder id
        '403':
          description: Unauthorized — missing or invalid authentication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                unauthorized:
                  value:
                    error: Unauthorized
        '404':
          description: Bet builder not found, or doesn't belong to you.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                not_found:
                  value:
                    error: Bet builder not found
  /standings:
    get:
      tags:
        - Standings
      summary: Get league standings for a season
      description: >
        Returns league table standings for a given season. A season can have
        more than one table — e.g. a regular season plus a separate playoff
        stage, or several groups in a cup competition. All tables are returned
        together in a single flat `standings` array; group by `stage.id` and
        `group.id` client-side if you need to render separate tables.
      operationId: getStandings
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: season_id
          required: true
          schema:
            type: integer
          description: The season to retrieve standings for.
        - in: query
          name: language
          schema:
            type: string
            default: en
          description: 'Localization code for team names. Alias: `lang`.'
      responses:
        '200':
          description: League table standings for the season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingsResponse'
              examples:
                empty:
                  summary: Unknown or not-yet-populated season
                  value:
                    standings: []
        '400':
          description: Validation error — `season_id` missing or not a valid integer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                missing_season_id:
                  value:
                    error: season_id is required
        '403':
          description: Unauthorized — missing or insufficient role.
  /types:
    get:
      tags:
        - Types
      summary: Get all types
      description: >-
        Returns a list of available Types supported by the SSTrader Football
        API, used to categorize data points like periods, positions, and
        statistics.
      operationId: getTypes
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: developer_types
          schema:
            type: string
          description: >-
            Comma-separated list of domain groups to filter by (e.g.,
            `statistic,advance_statistic`). Alias `developer_type` is accepted
            for backwards compatibility.
      responses:
        '200':
          description: A list of types
          content:
            application/json:
              schema:
                type: object
                properties:
                  types:
                    type: array
                    items:
                      $ref: '#/components/schemas/Type'
  /search:
    get:
      tags:
        - Search
      summary: Search entities by free-text query
      description: >
        General-purpose lookup for finding entities by name. Unlike exact-match
        endpoints (e.g. `/countries`), this endpoint tolerates misspellings,
        abbreviations, and alternate phrasings — useful for search-as-you-type
        UI and for mapping a free-text mention onto a canonical entity ID that
        can be passed to other endpoints.

        Results are grouped by entity type; only the types requested are
        included in the response. Currently supported: `country`, `league`,
        `team`, `fixture`.

        `fixture` search only covers matches in a rolling window from a few
        hours ago to about a week ahead, in top-tier leagues — i.e. upcoming
        fixtures and recently finished ones.
      operationId: searchEntities
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
          description: The search text.
          example: spain
        - in: query
          name: types
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - country
                - league
                - team
                - fixture
          description: >-
            Comma-separated list of entity types to search. Currently:
            `country`, `league`, `team`, `fixture`.
          example: country
        - in: query
          name: limit
          schema:
            type: integer
            default: 5
            minimum: 1
            maximum: 20
          description: Maximum results per type.
        - in: query
          name: language
          schema:
            type: string
            enum:
              - en
              - es
              - bg
            default: en
          description: Language for localized entity names.
      responses:
        '200':
          description: Search results grouped by entity type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEntitiesResponse'
              examples:
                country_match:
                  summary: Country match
                  value:
                    countries:
                      - id: 41
                        name: Spain
                        alpha3: ESP
                        score: 0.94
                league_match:
                  summary: League match
                  value:
                    leagues:
                      - region:
                          id: 2
                          name: Europe
                        country:
                          id: 251
                          name: England
                          alpha3: ENG
                        league:
                          id: 8
                          name: Premier League
                          level: 1
                        season:
                          id: 123
                          name: 2025/2026
                          starting_at: '2025-08-15'
                          ending_at: '2026-05-24'
                          is_current: true
                        sport:
                          id: 1
                          name: Football
                        count: 12
                        live: 1
                        popular: true
                        level: 1
                        score: 0.91
                team_match:
                  summary: Team match
                  value:
                    teams:
                      - id: 6
                        name: Tottenham Hotspur
                        short_code: TOT
                        national_team: false
                        country:
                          id: 46
                          name: England
                          alpha3: GBR
                        score: 0.97
                fixture_match:
                  summary: Fixture match
                  value:
                    fixtures:
                      - id: 1033370
                        date_time: '2026-05-24T15:00:00Z'
                        status: NOT_STARTED
                        is_live: false
                        sport:
                          id: 1
                          name: Football
                        country:
                          id: 46
                          name: England
                          alpha3: GBR
                        league:
                          id: 8
                          name: Premier League
                          level: 1
                        participants:
                          - id: 6
                            name: Tottenham Hotspur
                            location: home
                          - id: 19
                            name: Arsenal
                            location: away
                        score: 0.95
        '400':
          description: >
            Validation error. Possible causes: - Missing `q`. - Missing `types`.
            - `types` includes an unsupported value.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                missing_q:
                  value:
                    error: Missing required query param "q"
                unsupported_type:
                  value:
                    error: >-
                      Unsupported type(s): player. Supported: country, league,
                      team, fixture
        '403':
          description: Unauthorized — missing or insufficient permissions.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  parameters:
    pageParam:
      name: page
      in: query
      description: The current page number.
      schema:
        type: integer
        default: 1
        minimum: 1
    perPageParam:
      name: per_page
      in: query
      description: >-
        Results returned per page. Note that per_page only affects the base
        entity; included relations are not paginated.
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 50
    orderParam:
      name: order
      in: query
      description: Sort order of results.
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc
  schemas:
    InsightsResponse:
      type: object
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/FixtureWithInsights'
    InsightsArchiveResponse:
      type: object
      required:
        - fixtures
        - pagination
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/FixtureWithInsights'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    BetBuildersResponse:
      type: object
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/FixtureWithBetBuilders'
    FixtureWithBetBuilders:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            bet_builders:
              type: array
              items:
                $ref: '#/components/schemas/BetBuilder'
    BetBuilder:
      type: object
      description: Multiple selections from the same match, combined into a single bet.
      properties:
        id:
          type: integer
          description: Unique identifier for this bet builder.
        user_id:
          type: integer
          description: >-
            The owning user's ID — always your own, since results are scoped to
            the authenticated user.
        model_id:
          type: integer
          description: The Model that generated this suggestion.
        is_live:
          type: integer
          enum:
            - 0
            - 1
          description: >-
            1 if this bet builder was generated for an in-play match, 0 for
            pre-match.
        value:
          type: number
          format: float
          nullable: true
          description: >-
            Current combined decimal odds. Null while the combination is still
            being priced.
        sp:
          type: number
          format: float
          nullable: true
          description: >-
            Starting Price — the combined odds at the time this bet builder was
            generated.
        suspend:
          type: integer
          enum:
            - 0
            - 1
          description: >
            If 1, this bet builder is temporarily unavailable (e.g. one of its
            selections is currently suspended). Treat this as "wait", not
            "cancelled" — it can flip back to 0 once the selection becomes
            available again.
        status:
          type: integer
          enum:
            - 1
            - 0
            - -1
            - -3
          description: >
            Settlement status of the combination as a whole — 0 pending, 1 won,
            -1 lost, -3 void. Same codes as the Odd object's `status` field, but
            only these four occur: every selection must win for 1, and a single
            void selection voids the whole bet builder. Stays 0 until every
            selection has a result.
        last_priced_at:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 timestamp of the last time `value`/`sp` were updated.
        raw:
          type: object
          additionalProperties: true
          description: >-
            Bookmaker-specific reference data for this exact combination of
            selections. Opaque and varies by bookmaker; `{}` when not available.
        meta:
          type: object
          additionalProperties: true
          description: >-
            Additional bookmaker-specific metadata (e.g. promotional price
            boosts). Shape may vary and is not guaranteed to be present.
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of generation.
        language:
          type: string
          description: >-
            Language code of `content`. Matches the request's `language`/`lang`
            param.
        content:
          type: object
          additionalProperties: true
          description: >-
            Dynamic. The natural-language explanation for the combination — can
            hold any key-value pairs.
        model:
          type: object
          description: Metadata about the model used.
          properties:
            id:
              type: integer
            name:
              type: string
            color:
              type: string
        selections:
          type: array
          description: >-
            The individual picks that make up this bet builder. Each entry
            follows the Odd object schema.
          items:
            $ref: '#/components/schemas/Odd'
      example:
        id: 501
        user_id: 8831
        model_id: 12
        is_live: 0
        value: 4.8
        sp: 4.5
        suspend: 0
        status: 0
        last_priced_at: '2026-04-27T14:58:00.000Z'
        raw:
          selection_ids: 3897429409|3314639099
        meta: {}
        created_at: '2026-04-27T14:00:00.000Z'
        language: en
        content:
          text: >-
            Piast have been slow starters at home this season, and Arka's front
            two have been finding the net at a steady clip — backing the away
            side alongside goals in this one.
        model:
          id: 12
          name: Home Value Builder
          color: '#2f7d32'
    RegionsResponse:
      type: object
      required:
        - regions
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionItem'
    RegionItem:
      type: object
      properties:
        region:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        country:
          $ref: '#/components/schemas/Country'
        league:
          $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/Season'
        sport:
          $ref: '#/components/schemas/Sport'
        count:
          type: integer
          description: Upcoming fixtures count
        live:
          type: integer
          description: Live fixtures count
        popular:
          type: boolean
        level:
          type: integer
          description: League level
    PaginationMetadata:
      type: object
      required:
        - page
        - per_page
        - has_more
        - order
      properties:
        page:
          type: integer
          example: 1
          description: The current page number.
        per_page:
          type: integer
          example: 50
          description: Number of results returned on this page.
        has_more:
          type: boolean
          example: true
          description: >
            `true` if more pages are available, `false` if this is the last
            page. Determined by whether the number of results returned equals
            `per_page`.
        order:
          type: string
          enum:
            - asc
            - desc
          example: asc
          description: Sort order — `asc` or `desc`.
    CountriesResponse:
      type: object
      required:
        - countries
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    SearchEntitiesResponse:
      type: object
      description: >
        Grouped by entity type. Only the types requested via `types` are present
        as keys.
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/SearchCountryResult'
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/SearchLeagueResult'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/SearchTeamResult'
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/SearchFixtureResult'
    SearchCountryResult:
      allOf:
        - $ref: '#/components/schemas/Country'
        - type: object
          properties:
            score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Match confidence — higher means a closer match to `q`.
    SearchLeagueResult:
      description: Same shape as a `GET /regions` item, with an added `score`.
      allOf:
        - $ref: '#/components/schemas/RegionItem'
        - type: object
          properties:
            score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Match confidence — higher means a closer match to `q`.
    TeamEntity:
      type: object
      description: >
        A team reference with localized name and country — richer than the
        minimal `Team` schema used in Standings (id/name only).
      properties:
        id:
          type: integer
          description: Unique identifier for the team.
        name:
          type: string
          description: Localized team name.
        short_code:
          type: string
          nullable: true
          description: Short code for the team (e.g. 'TOT').
        national_team:
          type: boolean
          description: True if this is a national team rather than a club.
        country:
          nullable: true
          description: The team's country. Null if not set.
          allOf:
            - $ref: '#/components/schemas/Country'
    SearchTeamResult:
      allOf:
        - $ref: '#/components/schemas/TeamEntity'
        - type: object
          properties:
            score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Match confidence — higher means a closer match to `q`.
    SearchFixtureResult:
      description: >
        Same base shape as a `GET /fixtures` item (without any `include=`
        modules), plus a `score`. Reranked by relevance to `q`.
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Match confidence — higher means a closer match to `q`.
    SearchFixturesResponse:
      type: object
      required:
        - fixtures
        - pagination
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/SearchFixture'
        pagination:
          $ref: '#/components/schemas/SearchPaginationMetadata'
    SearchPaginationMetadata:
      type: object
      required:
        - page
        - per_page
        - has_more
      properties:
        page:
          type: integer
          example: 1
          description: The current page number.
        per_page:
          type: integer
          example: 25
          description: Number of results returned on this page.
        has_more:
          type: boolean
          example: false
          description: >
            `true` if more pages are available, `false` if this is the last
            page. Determined by whether the number of results returned equals
            `per_page`.
    SearchFixture:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            odds:
              description: Included when `include=odds` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Odd'
            statistics:
              description: Included when `include=statistics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Statistic'
            metrics:
              description: Included when `include=metrics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Metric'
            metadata:
              description: Included when `include=metadata` is passed.
              type: array
              items:
                $ref: '#/components/schemas/MetadataEntry'
    FixturesResponse:
      type: object
      required:
        - fixtures
        - pagination
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/Fixture'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    FixtureBase:
      type: object
      properties:
        id:
          type: integer
        date_time:
          type: string
          format: date-time
        status:
          type: string
        is_live:
          type: boolean
        language:
          type: string
        sport:
          $ref: '#/components/schemas/Sport'
        country:
          $ref: '#/components/schemas/Country'
        league:
          $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/Season'
        group:
          nullable: true
          description: The group this fixture belongs to. Null if not applicable.
          allOf:
            - $ref: '#/components/schemas/Group'
        stage:
          nullable: true
          description: The competition stage. Null if not applicable.
          allOf:
            - $ref: '#/components/schemas/Stage'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/Score'
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
    Fixture:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            odds:
              description: Included when `include=odds` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Odd'
            fair_odds:
              description: Included when `include=fair_odds` is passed.
              type: array
              items:
                $ref: '#/components/schemas/FairOdd'
            movement:
              description: Included when `include=movement` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Movement'
            statistics:
              description: Included when `include=statistics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Statistic'
            metrics:
              description: Included when `include=metrics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Metric'
            player_metrics:
              description: >
                Included when `include=player_metrics` is passed, which requires
                `include=squads` alongside it. Flat array covering both teams'
                squads — not grouped, split them on `team_id` and join to
                `squads[]` on `player_id` for names and positions.

                Up to six rows per player, from two families that are read
                differently:


                **Four ratings** — Impact, Aggression, Discipline and SST
                Rating, each an integer 1–99 where 50 is average for the
                player's position and higher is always better.


                **Two expected metrics** — Expected Shots and Expected Minutes,
                decimal counts predicted for this fixture. These carry a `meta`
                object with the values conditional on the player starting or
                being benched, which is how you apply a confirmed team sheet
                without waiting for a recompute.


                Every row belongs to this fixture specifically and reflects the
                state before kick-off; nothing is revised after the match
                starts.


                Players with too little recent playing time are omitted rather
                than given a placeholder, so expect fewer players here than in
                `squads[]`. The two families have separate eligibility bars, so
                a player can have the four ratings and no expected metrics —
                always look rows up by `player_id` **and** `developer_name`. The
                array is empty for a fixture that was never seen before
                kick-off.
              type: array
              items:
                $ref: '#/components/schemas/PlayerMetric'
            trends:
              description: >-
                Included when `include=trends` is passed. Per-minute cumulative
                stats for each team.
              type: array
              items:
                $ref: '#/components/schemas/TrendEntry'
            last_fixtures:
              description: Included when `include=last_fixtures` is passed.
              nullable: true
              allOf:
                - $ref: '#/components/schemas/LastFixtures'
            lineups:
              description: >
                Included when `include=lineups` is passed. Flat array of both
                teams' team-sheet entries (starting XI, bench and sidelined) —
                not grouped, split them on `team_id`.

                Ordered by team, then slot type (starters before bench), then
                formation position and shirt number.

                Empty when the team sheets for the fixture have not been
                published yet — providers typically release them around an hour
                before kick-off.
              type: array
              items:
                $ref: '#/components/schemas/LineupEntry'
            squads:
              description: >
                **BETA** — shape and coverage may still change. Included when
                `include=squads` is passed. Flat array of both teams' registered
                squads for the fixture's season — not grouped, split them on
                `team_id`.

                Unlike `lineups`, this is available well before kick-off, since
                it is the season roster rather than the team sheet for this
                match.

                Entries are not filtered on `in_squad` — filter on `in_squad ===
                1` for a current roster.
              type: array
              items:
                $ref: '#/components/schemas/SquadEntry'
            metadata:
              description: Included when `include=metadata` is passed.
              type: array
              items:
                $ref: '#/components/schemas/MetadataEntry'
    LineupEntry:
      type: object
      description: >
        One slot in a fixture's team sheet. The slot itself (`type_id` /
        `developer_name`) says whether it is the starting XI, the bench or a
        sidelined player; the player filling it is nested under `player`.
      properties:
        team_id:
          type: integer
          description: >-
            The team this entry belongs to. Match against `participants[].id` to
            tell home from away.
        number:
          type: integer
          nullable: true
          description: Shirt number. Null when the provider did not supply one.
        formation_position:
          type: integer
          nullable: true
          description: >
            The player's slot index within the team's formation, for starting
            players. Null for bench entries and where the provider did not
            supply one.
        type_id:
          type: integer
          nullable: true
          description: >-
            Type id of the lineup slot: 377 = LINEUP, 378 = BENCH, 379 =
            SIDELINED.
          example: 378
        developer_name:
          type: string
          nullable: true
          enum:
            - LINEUP
            - BENCH
            - SIDELINED
          description: >
            The slot: `LINEUP` = named in the starting XI, `BENCH` = named as a
            substitute, `SIDELINED` = unavailable for this match. `SIDELINED` is
            rarely present — most feeds report team sheets as starters and
            substitutes only.
        player:
          $ref: '#/components/schemas/LineupPlayer'
      example:
        team_id: 631
        number: 45
        formation_position: null
        type_id: 378
        developer_name: BENCH
        player:
          player_id: 441628
          type_id: 374
          developer_name: MIDFIELDER
          common_name: E. Martinho Silva
          display_name: Edson Martinho da Silva
          fullname: Edson Martinho Silva
          firstname: Edson
          lastname: Martinho Silva
    LineupPlayer:
      type: object
      description: >
        The player in a lineup slot. The four name variants exist because
        sources spell the same player differently — having all of them is what
        makes it possible to recognise a player across feeds. Any field may be
        null where the provider holds no value for it.

        Name fields and the position (`type_id` / `developer_name`) use the same
        field names as the corresponding squad entry, so the two can be compared
        field for field.
      properties:
        player_id:
          type: integer
          description: The player's id. Stable across fixtures and seasons.
        type_id:
          type: integer
          nullable: true
          description: >
            Type id of the player's position **in this fixture**, which can
            differ from the position he is registered under for the season — a
            full-back deployed in midfield is reported as a midfielder here.
          example: 374
        developer_name:
          type: string
          nullable: true
          enum:
            - GOALKEEPER
            - DEFENDER
            - MIDFIELDER
            - ATTACKER
            - UNKNOWN
          description: Developer name of the player's position in this fixture.
        common_name:
          type: string
          nullable: true
          description: Short form, usually initial + surname.
          example: M. Silva Jaimes
        display_name:
          type: string
          nullable: true
          description: The name normally shown in match coverage.
          example: Miguel Silva
        fullname:
          type: string
          nullable: true
          description: Full registered name.
          example: Miguel Alejandro Silva Jaimes
        firstname:
          type: string
          nullable: true
          description: Given name(s).
        lastname:
          type: string
          nullable: true
          description: Family name(s).
    SquadEntry:
      type: object
      description: >
        **BETA.** One player registered to a team for the season. Name fields
        and the position (`type_id` / `developer_name`) use the same field names
        as `LineupPlayer`, so the two can be compared field for field.
      properties:
        team_id:
          type: integer
          description: >-
            The team this player is registered with. Match against
            `participants[].id` to tell home from away.
        season_id:
          type: integer
          description: The season this squad entry belongs to.
        player_id:
          type: integer
          description: The player's id. Stable across fixtures and seasons.
        in_squad:
          type: integer
          enum:
            - 0
            - 1
          description: >
            `1` if the player is currently part of the squad, `0` if they are
            registered against this season but no longer at the club (e.g. sold
            or loaned out mid-season). **Rows are not filtered on this** —
            around a fifth of entries are `0`, so filter on `in_squad === 1` for
            a current roster.
        source:
          type: string
          enum:
            - squad
            - lineup
          description: >
            Where the entry came from. `squad` is the registered season roster.
            `lineup` marks a player who was named in this fixture's team sheet
            but is not in the registered squad — typically a very recent signing
            or an academy call-up. `lineup` entries only appear when
            `include=lineups` is requested alongside `squads`.
        type_id:
          type: integer
          nullable: true
          description: >
            Type id of the position the player is registered under for the
            season: 372 GOALKEEPER, 373 DEFENDER, 374 MIDFIELDER, 375 ATTACKER,
            376 UNKNOWN. This can differ from the position given in `lineups`
            for a specific match.

            `null` for a small share of players — either no position on record,
            or a more granular one (e.g. Centre Back, Defensive Midfield) that
            has no id in the public type space yet. A `null` here means
            "position not available", not "no position".
          example: 375
        developer_name:
          type: string
          nullable: true
          enum:
            - GOALKEEPER
            - DEFENDER
            - MIDFIELDER
            - ATTACKER
            - UNKNOWN
          description: >-
            Developer name of the registered position. `null` under the same
            conditions as `type_id`.
        common_name:
          type: string
          nullable: true
          description: Short form, usually initial + surname.
        display_name:
          type: string
          nullable: true
          description: The name normally shown in match coverage.
        fullname:
          type: string
          nullable: true
          description: Full registered name.
        firstname:
          type: string
          nullable: true
          description: Given name(s).
        lastname:
          type: string
          nullable: true
          description: Family name(s).
      example:
        team_id: 4009
        season_id: 25580
        player_id: 184521
        in_squad: 1
        source: squad
        type_id: 375
        developer_name: ATTACKER
        common_name: M. Silva Jaimes
        display_name: Miguel Silva
        fullname: Miguel Alejandro Silva Jaimes
        firstname: Miguel
        lastname: Silva Jaimes
    FixturesLivescoreResponse:
      type: object
      required:
        - fixtures
      properties:
        fixtures:
          type: array
          items:
            $ref: '#/components/schemas/FixtureLivescore'
    FixtureLivescore:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            odds:
              description: Included when `include=odds` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Odd'
            statistics:
              description: Included when `include=statistics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Statistic'
            metrics:
              description: Included when `include=metrics` is passed.
              type: array
              items:
                $ref: '#/components/schemas/Metric'
    FixtureWithInsights:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/Insight'
    TrendEntry:
      type: object
      description: One stat for one team at one minute of the match.
      properties:
        team_id:
          type: integer
          description: The team the entry belongs to.
        period_id:
          type: integer
          description: >-
            The period (half) the entry belongs to. Disambiguates repeated
            minute values across periods.
        minute:
          type: integer
          description: The match minute at which this value was recorded.
        type_id:
          type: integer
          description: The external type ID of the stat.
          example: 117
        developer_name:
          type: string
          description: >-
            Constant-style identifier for the stat (e.g. CORNERS,
            EXPECTED_GOALS).
          example: EXPECTED_GOALS
        value:
          type: integer
          description: >
            Cumulative value of the stat at this minute. For EXPECTED_GOALS
            (type_id 117), the value is scaled by 100 — divide by 100 to get the
            xG decimal (e.g. value 18 = 0.18 xG).
    Insight:
      type: object
      properties:
        id:
          type: integer
        market_id:
          type: integer
        value:
          description: The current decimal odd
          type: number
          format: float
        sp:
          description: >-
            The starting price. The odd value at the exact time the insight was
            generated.
          type: number
          format: float
        content:
          type: object
          description: Flexible container for AI-generated data.
          additionalProperties: true
        model:
          description: The AI model that generated this insight.
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            color:
              type: string
        bet:
          $ref: '#/components/schemas/Odd'
    Sport:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Country:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        alpha3:
          type: string
    League:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the league.
        name:
          type: string
          description: Official name of the league.
        level:
          type: integer
          description: >-
            The tier of the league (e.g., 1 for top-flight, 2 for second
            division).
    Participant:
      type: object
      description: Details about a specific team or competitor involved in the match.
      properties:
        id:
          type: integer
          description: Unique identifier for the participant.
        name:
          type: string
          description: Localized name of the team or competitor.
        position:
          type: integer
          description: The team's current standing/rank in their respective league table.
        location:
          type: string
          enum:
            - home
            - away
          description: >-
            Indicates the venue role. `home` for the hosting team and `away` for
            the visiting team.
    Score:
      type: object
      description: Detailed scoring breakdown for a specific team and match period.
      properties:
        fixture_id:
          type: integer
          description: Unique identifier for the match.
        team_id:
          type: integer
          description: Unique identifier for the team.
        value:
          type: integer
          description: The number of goals or points recorded.
        developer_name:
          type: string
          description: The machine-readable identifier for the match period.
          enum:
            - 1ST_HALF
            - 2ND_HALF
            - ET
            - PENALTY_SHOOTOUT
            - ET_2ND_HALF
            - CURRENT
            - ET_1ST_HALF
            - 2ND_HALF_ONLY
      required:
        - fixture_id
        - team_id
        - value
        - developer_name
      example:
        fixture_id: 1033370
        team_id: 3585
        value: 2
        developer_name: 1ST_HALF
    Period:
      type: object
      description: Timing and clock details for a specific match segment.
      properties:
        period_id:
          type: integer
        fixture_id:
          type: integer
        started:
          type: integer
          description: Unix timestamp
        ended:
          type: integer
          description: Unix timestamp
        counts_from:
          type: integer
        ticking:
          type: integer
          enum:
            - 0
            - 1
        sort_order:
          type: integer
        time_added:
          type: integer
        period_length:
          type: integer
        minutes:
          type: integer
        seconds:
          type: integer
        developer_name:
          type: string
          enum:
            - 1ST_HALF
            - 2ND_HALF
            - ET
            - PENALTY_SHOOTOUT
            - ET_2ND_HALF
            - ET_1ST_HALF
      example:
        period_id: 2045635
        fixture_id: 1033370
        started: 1776875170
        ended: 1776878125
        counts_from: 0
        ticking: 0
        sort_order: 1
        time_added: 4
        period_length: 45
        minutes: 49
        seconds: 15
        developer_name: 1ST_HALF
    Odd:
      type: object
      description: >
        Core entity for pricing, settlement, and market data.  Note: Use
        `filter[odds]` in the query to refine this list.
      example:
        odd_id: 72919503
        fixture_id: 946305
        market_id: 203
        bookmaker_id: 2
        is_live: 0
        label_id: 2
        value: 2.1
        handicap: 3.5
        line: 3.5
        last_update: 1768081284
        suspend: 1
        sp: 1.8
        home_score: 0
        away_score: 0
        status: -1
        raw: {}
        player_id: null
        outcome: Lost
        market_description: Total number of cards in the match
        market_name: Asian Total Cards
        label_name: Over 3.5
      properties:
        odd_id:
          type: integer
          description: Unique identifier for this specific odd record.
        fixture_id:
          type: integer
          description: Identifier of the match (fixture) this odd belongs to.
        market_id:
          type: integer
          description: >-
            The category of the bet (e.g., 1 for Match Winner, 22 for Next
            Goal).
        bookmaker_id:
          type: integer
          description: The ID of the bookmaker providing this price.
        label_id:
          type: integer
          description: Internal identifier for the specific selection type within a market.
        player_id:
          type: integer
          nullable: true
          description: >-
            Unique identifier for a player. Populated for performance markets
            (e.g., Shots, Goalscorer).
        value:
          type: number
          format: float
          description: The current decimal odds (price).
        line:
          type: number
          format: float
          description: >-
            The numerical threshold for the bet (e.g., 2.5 in an Over/Under
            market).
        handicap:
          type: number
          format: float
          description: The point spread or goal handicap (if applicable).
        sp:
          type: number
          format: float
          description: Starting Price. The opening odds recorded for the event.
        suspend:
          type: integer
          enum:
            - 0
            - 1
          description: Boolean flag. If 1, the odd is currently locked and not tradable.
        is_live:
          type: integer
          enum:
            - 0
            - 1
          description: 1 for live/in-play events; 0 for pre-match.
        home_score:
          type: integer
          description: >-
            Home team score at generation. Used as 'base score' for Asian
            markets.
        away_score:
          type: integer
          description: >-
            Away team score at generation. Used as 'base score' for Asian
            markets.
        last_update:
          type: integer
          description: Unix timestamp of the last modification.
        status:
          type: integer
          enum:
            - 2
            - 1
            - 0
            - -1
            - -2
            - -3
          description: >
            Numerical result code: - **2**: Half Won - **1**: Won - **0**:
            Pending - **-1**: Lost - **-2**: Half Lost - **-3**: Void
        outcome:
          type: string
          description: Localized name of the status (e.g., 'Won', 'Half Lost').
        market_name:
          type: string
          description: Localized name of the betting market.
        market_description:
          type: string
          description: Brief localized explanation of the market rules.
        label_name:
          type: string
          description: Human-readable name of the specific pick (e.g., 'Over 3.5').
        raw:
          type: object
          description: >
            Container for external provider data. Use these IDs for betslip
            injection  or deep-linking to bookmaker platforms.
          example:
            event_id: 13936816
            market_id: 1339290698
            selection_id: 3314639099
    FairOdd:
      type: object
      description: Mathematical 'true' odds and probability for a specific market outcome.
      properties:
        market_id:
          type: integer
          description: Identifier for the betting market.
        label_id:
          type: integer
          description: Identifier for the specific outcome label.
        probability:
          type: number
          format: float
          description: The percentage probability of this outcome (0-100).
        value:
          type: number
          format: float
          description: The fair price in decimal odds format.
        handicap:
          type: number
          format: float
          nullable: true
          description: The handicap value, if applicable to the market.
        line:
          type: number
          format: float
          nullable: true
          description: The points/goals line, if applicable to the market.
      required:
        - market_id
        - label_id
        - probability
        - value
      example:
        market_id: 4
        label_id: 1
        probability: 20.07
        value: 4.984
        handicap: 1.5
        line: 1.5
    Movement:
      type: object
      description: A historical snapshot of an odd's value and status at a specific time.
      properties:
        odd_id:
          type: integer
          description: Identifier for the specific odd.
        value:
          type: number
          format: float
          description: The decimal value of the odd at this timestamp.
        suspend:
          type: integer
          enum:
            - 0
            - 1
          description: Indicates if the market was suspended (1) or active (0).
        last_update:
          type: integer
          description: Unix timestamp of the update.
      required:
        - odd_id
        - value
        - suspend
        - last_update
      example:
        odd_id: 88782664
        value: 1.43
        suspend: 0
        last_update: 1776785331
    Type:
      type: object
      properties:
        type_id:
          type: integer
          example: 1
          description: The unique ID for the type.
        developer_name:
          type: string
          example: 1ST_HALF
          description: The unique, constant-style identifier.
        developer_description:
          type: string
          example: First half of the match
          description: A brief explanation of the type's purpose.
        developer_type:
          type: string
          example: period
          description: The category or domain this type belongs to.
    Statistic:
      type: object
      description: Represents a specific performance metric for a team during a match.
      properties:
        team_id:
          type: integer
          example: 108
          description: The unique ID of the team the statistic belongs to.
        value:
          type: number
          example: 6
          description: The numerical value of the metric.
        type_id:
          type: integer
          example: 34
          nullable: true
          description: The unique ID associated with the statistic type.
        developer_name:
          type: string
          example: CORNERS
          description: The unique, constant-style identifier used for programmatic logic.
    Metric:
      type: object
      description: Machine-learned insights and AI-driven predictions.
      properties:
        team_id:
          type: integer
          example: 0
          description: The ID of the team (0 for match-level metrics).
        type_id:
          type: integer
          example: 105
          nullable: true
          description: The unique ID for the metric type.
        developer_name:
          type: string
          example: PREDICTION_GL_CONFIDENCE
          description: The unique constant-style identifier.
        value:
          type: number
          example: 70
          description: The calculated value or probability.
        meta:
          type: object
          nullable: true
          additionalProperties: true
          description: >
            Optional, context-specific metadata. Properties vary by metric
            family, and the field is omitted entirely for most `developer_name`
            values — including `EV_*` and `SMARTMONEY_*` metrics generated
            before this field was introduced. Always check for presence (e.g.
            `metric.meta?.market_id`) rather than assuming it exists.


            Known shapes:

            - `EV_*` (Expected Value, e.g. `EV_EUROPE_ML_HOME`): `market_id`,
            `label_id`, `line`, `bookmaker_id`.

            - `SMARTMONEY_*` (e.g. `SMARTMONEY_GL_OVER`): `market_id`,
            `label_id`, `line` (no `bookmaker_id`).
          properties:
            market_id:
              type: integer
              description: >-
                The betting market this metric relates to (e.g. 1 = Money Line,
                2 = Asian Handicap, 3 = Goal Line, 6 = Corners, 203 = Yellow
                Cards).
            label_id:
              type: integer
              description: >-
                The outcome label ID; mapping depends on market_id (same scheme
                as Odd.label_id).
            line:
              type: number
              format: float
              description: >-
                The main handicap/total line used for the calculation. Always 0
                for Money Line (market_id 1), which has no line.
            bookmaker_id:
              type: integer
              description: >-
                The bookmaker the price was sourced from (2 = Europe, 3 = Asia).
                Present only on EV_* metrics.
          example:
            market_id: 3
            label_id: 2
            line: 2.5
            bookmaker_id: 2
    PlayerMetric:
      type: object
      description: >
        A single rated attribute or predicted quantity for one player.


        **Two families share this shape, and they are read differently.** Tell
        them apart by `developer_name` (or by `type_id`: 380–383 vs 384–385).


        Every row belongs to **one fixture** and freezes at kick-off — it
        records the state before that match and is never revised afterwards. So
        the same player queried across two fixtures returns two different sets
        of values, and a past fixture reports what he looked like going into it
        rather than what he looks like now. A fixture that was never seen before
        kick-off carries no player metrics at all.


        **Ratings** (`PLAYER_IMPACT_INDEX`, `PLAYER_AGGRESSION_INDEX`,
        `PLAYER_DISCIPLINE_INDEX`, `PLAYER_SST_RATING`) describe the form the
        player took into this fixture. Each is an integer from **1 to 99** where
        **50 is average** for that player's position in that league — a defender
        is compared against other defenders, never against strikers — and
        **higher is always better**, Discipline included. Roughly 10 points is a
        meaningful gap; the middle 80% of players in a league typically fall
        between 25 and 80. These carry no `meta`.


        **Expected metrics** (`PLAYER_EXPECTED_SHOTS`,
        `PLAYER_EXPECTED_MINUTES`) are predictions for **this specific
        fixture**, not ratings. The value is a decimal count in the unit named
        by the metric — 1.293 shots, 65.926 minutes — so it is not on the 1–99
        scale and has no upper bound. These always carry `meta`.


        These move far more between fixtures than the ratings do — opponent,
        venue and the chance of starting all feed the model, and one player's
        expected shots measured 1.068 to 1.781 across six fixtures. Never carry
        an expected value from one fixture to another.


        **Expected metrics assume the team sheet is unknown.** The published
        `value` is already discounted for the chance the player does not start,
        which is the honest number before a lineup is confirmed. When you know
        the lineup, do not wait for us to recompute — read `meta.if_starts` or
        `meta.if_benched` directly. See `PlayerMetricMeta`.


        Further expected metrics — goals, assists, shots on target, booking
        points, fouls, tackles, passes and saves — are planned and will share
        this exact shape. None are returned today and no `type_id` is assigned
        to them; the `developer_name` enum below is the complete current set.
        Treat an unrecognised `developer_name` as forward compatibility rather
        than an error.
      properties:
        team_id:
          type: integer
          example: 4009
          description: >-
            The team the player is registered with. Match against
            `participants[].id` to tell home from away.
        player_id:
          type: integer
          example: 184521
          description: The player. Join to `squads[].player_id` for name and position.
        type_id:
          type: integer
          example: 380
          nullable: true
          description: The unique ID for the metric type.
        developer_name:
          type: string
          example: PLAYER_IMPACT_INDEX
          enum:
            - PLAYER_IMPACT_INDEX
            - PLAYER_AGGRESSION_INDEX
            - PLAYER_DISCIPLINE_INDEX
            - PLAYER_SST_RATING
            - PLAYER_EXPECTED_SHOTS
            - PLAYER_EXPECTED_MINUTES
          description: >
            Which attribute this row rates, or which quantity it predicts.


            **Ratings — integer 1–99, higher is better, no `meta`:**


            - `PLAYER_IMPACT_INDEX` (380) — how well the player does the main
            job of their position.
              What that job is depends on the position: shooting and scoring for an attacker
              (**Threat**), creating and winning the ball back for a midfielder (**Control**),
              clearing, blocking and intercepting for a defender (**Wall**), shot stopping for a
              goalkeeper (**Shield**). Derive which one applies from the player's position in
              `squads[]`.

            - `PLAYER_AGGRESSION_INDEX` (381) — how physically the player
            competes: fouls and
              tackles. A higher value means more of both.

            - `PLAYER_DISCIPLINE_INDEX` (382) — how well the player stays out of
            the referee's book
              relative to how often they foul. **A higher value means better discipline** — 99 is a
              player who is almost never booked, 1 is one who is booked constantly. A player can
              score high on both Aggression and Discipline: plenty of fouls, few cards.

            - `PLAYER_SST_RATING` (383) — a single overall rating combining the
            three above,
              weighted for the player's position.


            **Expected metrics — decimal count for this fixture, always carries
            `meta`:**


            - `PLAYER_EXPECTED_SHOTS` (384) — how many shots the player is
            expected to attempt.
              Counts every attempt, on target or not; blocked shots included.

            - `PLAYER_EXPECTED_MINUTES` (385) — how many minutes the player is
            expected to be on
              the pitch, 0–90+. Also the exposure behind every other expected metric, so it is the
              first thing to check when an expected count looks low: a good player who is unlikely
              to start has a low expected count for that reason alone.
        value:
          type: number
          example: 73
          description: >
            **Ratings** (380–383): integer 1–99, where 50 is average for the
            player's position in their league and higher is better on every
            metric.


            **Expected metrics** (384–385): a decimal count for this fixture —
            shots, or minutes — with no upper bound and no relation to the 1–99
            scale. Reported to 3 decimal places. This is the **pre-team-sheet**
            number, already weighted by the player's chance of starting; `meta`
            carries the two conditionals.
        meta:
          type: object
          nullable: true
          description: >
            Present **only on expected metrics** (384–385) and omitted entirely
            from the four ratings — check for presence rather than assuming it.
            See `PlayerMetricMeta`.
          allOf:
            - $ref: '#/components/schemas/PlayerMetricMeta'
      example:
        team_id: 1338
        player_id: 600
        type_id: 384
        developer_name: PLAYER_EXPECTED_SHOTS
        value: 1.228
        meta:
          if_starts: 1.694
          if_benched: 0.254
          p_start: 0.6764
    PlayerMetricMeta:
      type: object
      description: >
        The team-sheet breakdown behind an expected metric. Attached to
        `PLAYER_EXPECTED_SHOTS` and `PLAYER_EXPECTED_MINUTES`; never present on
        the four ratings.


        **Why it exists.** We publish expected metrics from the moment a fixture
        is scheduled, long before lineups exist, so the headline `value` has to
        assume the team sheet is unknown and blend the two cases:


        `value = p_start × if_starts + (1 − p_start) × if_benched`


        Worked from the example: `0.6764 × 1.694 + 0.3236 × 0.254 = 1.228`.


        **This is what lets you react to a confirmed lineup instantly.** Team
        sheets are typically published 15–60 minutes before kick-off. Rather
        than waiting for us to recompute and republish, substitute the case you
        now know is true: if the player is named in the XI use `if_starts`, if
        he is on the bench use `if_benched`, and if he is not in the squad at
        all treat every expected metric for him as 0.
      properties:
        if_starts:
          type: number
          example: 1.694
          description: >
            The expected value **conditional on the player starting**. Use this
            in place of `value` once a team sheet confirms he is in the starting
            XI.
        if_benched:
          type: number
          example: 0.254
          description: >
            The expected value **conditional on the player starting on the
            bench**. Already includes the chance he is not brought on at all, so
            it is much smaller than `if_starts` rather than simply being a
            shorter appearance — use it as-is, do not scale it further.
        p_start:
          type: number
          minimum: 0
          maximum: 1
          example: 0.6764
          description: >
            The probability the player starts, which produced the blend above.
            Published so the three numbers are self-consistent and auditable,
            and useful in its own right as a rotation read.
      example:
        if_starts: 1.694
        if_benched: 0.254
        p_start: 0.6764
    MetadataEntry:
      type: object
      description: >
        Fixture-level metadata. Currently only kit/participant colors
        (`PARTICIPANT_COLORS`) and formations (`FORMATION`) are returned; other
        raw metadata stored against a fixture is not yet exposed.
      properties:
        team_id:
          type: integer
          example: 85
          description: The team this metadata entry belongs to.
        type_id:
          type: integer
          example: 348
          description: The external type ID. 348 = PARTICIPANT_COLORS, 349 = FORMATION.
        developer_name:
          type: string
          example: PARTICIPANT_COLORS
          description: The constant-style identifier for the metadata type.
        value:
          type: integer
          nullable: true
          example: null
          description: >-
            Always null for PARTICIPANT_COLORS and FORMATION. Present for
            template consistency with other type-based includes.
        meta:
          type: object
          nullable: true
          additionalProperties: true
          description: >-
            Context-specific payload. For PARTICIPANT_COLORS, contains `kit` and
            `participant`. For FORMATION, contains `formation`.
          properties:
            kit:
              type: string
              example: >-
                #D6003D,#D6003D,#D6003D,#D6003D,#C40010,#0046A8,#C40010,#D6003D,#0A0A0A,#0A0A0A,#F0F0F0
              description: >-
                Comma-separated list of hex colors describing the team's kit
                (shirt, shorts, socks, sleeves, etc.).
            participant:
              type: string
              example: '#C40010'
              description: >-
                The primary/representative hex color for this team, used for
                charts, badges, and UI accents.
            formation:
              type: string
              example: 3-4-2-1
              description: The team's formation for this fixture.
    LastFixtureEntry:
      allOf:
        - $ref: '#/components/schemas/FixtureBase'
        - type: object
          properties:
            statistics:
              type: array
              items:
                $ref: '#/components/schemas/Statistic'
            metrics:
              type: array
              items:
                $ref: '#/components/schemas/Metric'
    LastFixtures:
      type: object
      description: >-
        Last 10 fixtures for each team in their respective location, before this
        event's kick-off. Each fixture includes statistics and metrics.
      properties:
        home:
          type: array
          description: Last 10 fixtures where the home team played at home.
          items:
            $ref: '#/components/schemas/LastFixtureEntry'
        away:
          type: array
          description: Last 10 fixtures where the away team played away.
          items:
            $ref: '#/components/schemas/LastFixtureEntry'
    Group:
      type: object
      description: The group this fixture belongs to (e.g. Group A in a cup tournament).
      properties:
        id:
          type: integer
        name:
          type: string
    Stage:
      type: object
      description: The competition stage (e.g. Quarter-Final, Group Stage).
      properties:
        id:
          type: integer
        name:
          type: string
    Season:
      type: object
      description: >-
        Information about the specific season during which the event or league
        takes place.
      properties:
        id:
          type: integer
          example: 17760
          description: The unique identifier for the season.
        name:
          type: string
          example: '2026'
          description: The name of the season, typically representing the year.
        starting_at:
          type: string
          format: date
          example: '2026-03-13'
          description: The official start date of the season.
        ending_at:
          type: string
          format: date
          example: '2026-11-30'
          description: The official end date of the season.
        is_current:
          type: boolean
          example: true
          description: Indicates if this is the active season.
    StandingsResponse:
      type: object
      required:
        - standings
      properties:
        standings:
          type: array
          items:
            $ref: '#/components/schemas/Standing'
    Standing:
      type: object
      description: One team's row in a league table for a given season/stage/group.
      properties:
        season:
          $ref: '#/components/schemas/Season'
        stage:
          nullable: true
          description: The competition stage this table belongs to. Null if not applicable.
          allOf:
            - $ref: '#/components/schemas/Stage'
        group:
          nullable: true
          description: >-
            The group within the stage (e.g. Group A in a cup competition). Null
            if not applicable.
          allOf:
            - $ref: '#/components/schemas/Group'
        position:
          type: integer
          nullable: true
          description: The team's rank in this table.
        team:
          $ref: '#/components/schemas/Team'
        points:
          type: integer
          nullable: true
[...]
