{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "SSTrader API"
  },
  "servers": [
    {
      "url": "https://api.sstrader.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Fixtures",
      "description": "Operations related to match fixtures"
    },
    {
      "name": "Regions",
      "description": "Geographic regions data"
    }
  ],
  "paths": {
    "/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Get all regions, countries and leagues",
        "description": "Returns a list of regions, countries, and leagues.",
        "operationId": "getRegions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "all"
              ],
              "default": "upcoming"
            },
            "description": "Filter leagues by their status."
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es",
                "bg"
              ],
              "default": "en"
            },
            "description": "Language for the response."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fixtures": {
      "get": {
        "tags": [
          "Fixtures"
        ],
        "summary": "Get fixtures with participants, scores and periods",
        "description": "Returns a list of fixtures with participants, scores and periods.",
        "operationId": "getFixtures",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sport_id",
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the sport. Defaults to 1."
          },
          {
            "in": "query",
            "name": "league_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of league IDs."
          },
          {
            "in": "query",
            "name": "fixture_id",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of specific fixture IDs."
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "description": "Date in ISO 8601 YYYY-MM-DD format."
          },
          {
            "in": "query",
            "name": "is_live",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1
            },
            "description": "Set to 1 to filter for currently active matches."
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string"
            },
            "description": "Localization code (default: en)."
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "description": "Data modules to expand (e.g., metrics, odds)."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of fixtures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixturesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RegionsResponse": {
        "type": "object",
        "required": [
          "regions"
        ],
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionItem"
            }
          }
        }
      },
      "RegionItem": {
        "type": "object",
        "properties": {
          "region": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "league": {
            "$ref": "#/components/schemas/League"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "count": {
            "type": "integer",
            "description": "Upcoming fixtures count"
          },
          "live": {
            "type": "integer",
            "description": "Live fixtures count"
          },
          "popular": {
            "type": "boolean"
          },
          "level": {
            "type": "integer",
            "description": "League level"
          }
        }
      },
      "FixturesResponse": {
        "type": "object",
        "required": [
          "fixtures"
        ],
        "properties": {
          "fixtures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fixture"
            }
          }
        }
      },
      "Fixture": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "league": {
            "$ref": "#/components/schemas/League"
          },
          "season": {
            "$ref": "#/components/schemas/Season"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          },
          "scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Score"
            }
          },
          "periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Period"
            }
          }
        }
      },
      "Sport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "alpha3": {
            "type": "string"
          }
        }
      },
      "League": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          }
        }
      },
      "Season": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "Score": {
        "type": "object",
        "additionalProperties": true
      },
      "Period": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}